{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>
</head>
<body>
<h1>{{ page_title }}</h1>

<ul id="navigation">
    {% for i in 0..10 %}
        * {{ i }}
    {% endfor %}
</ul>
{{  arr.beauty }}

{% for value in loop %}
{{ value }}<br/>
{% endfor %}

{% for key in loop|keys %}

{{ key }}<br/>

{% endfor %}


{% for key, value in foo %}
    {{ key}}:{{value }}
{% endfor %}
</body>
</html>